/* DONE: make it look awesome. */
/* DONE: make it responsive. */
:root {
  background: linear-gradient(#e66465, #9198e5);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hide {
  display: none;
}

#course {
  width: 50%;
  height: 40px;
  padding: 0 1% 0 1%;
  border-radius: 10px;
  font-family: inherit;
}

form {
  width: 500px;
  display: flex;
  flex-direction: column;
  height: 50%;
  margin: 5% auto;
  border: 1px black solid;
  box-shadow: 0 0 1px 1px #9198e5;
  background-color: white;
  border-radius: 10px;
  padding: 3%;
}

.select-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 5%;
}

label {
  padding: 0;
  margin: 0;
}

#uvuId {
  margin: 0;
  font-family: inherit;
  height: 40px;
  padding: 0 1% 0 1%;
  border-radius: 10px;
  border: 1px gray solid;
  text-indent: 5px;
}

pre {
  white-space: pre-wrap;
}

#addLog {
  background-color: #e66465;
  color: white;
  width: 25%;
  height: 40px;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
}

#addLog:disabled {
  background-color: gray;
  cursor: default;
}

li {
  cursor: pointer;
}

textarea {
  font-family: inherit;
}
